*{

margin: 0;
padding: 0;

}

.formulario{

background-color: $colormain;
color: black;
padding:5px 5px 5px 5px;
font-family: "Caprasimo";

}

.siquieres{

font-family: "Caprasimo";


}

#nombre_apellido{

background-color: bisque;
font-weight: initial;
margin-left: 10px;
margin-top: 5px;
}

#nombre_apellido:active{

padding: 10px;
background-color: $colormain;

}

#numero_celular{

background-color: bisque;
font-weight: initial;
margin-left: 10px;
margin-top: 5px;

    
}

#numero_celular:active{

padding: 10px;
background-color: $colormain;

}

#mensaje{

background-color: bisque;
font-weight: initial;
margin-left: 10px;
margin-top: 5px;


}

#mensaje:active{

padding: 10px;
background-color: $colormain;

}

.enviar{

background-color: $colormain;
margin-top: 5px;
margin-left: 168px;
color: $colorfooter;
font-weight: bold;
border-radius: 10px;
padding: 5px 5px 5px 5px

}

.enviar:hover{

padding: 15px;

}

